.marginBot {
  margin-bottom: -10rem;
}
.textButton {
  text-align: center;
  font-size: 25px;
  max-height: 21px;
}

#wallHeader {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

#titleHashtag {
  font-size: 50px;
  font-weight: bold;
}

.filterTweet {
  margin-bottom: 3px;
}

.navTabs {
  border-bottom: none !important;
}

.footerPosition {
  position: absolute;
  bottom: 0;
}

.hashtagRow {
  margin-top: 15vh;
}
