.buttonPosition {
  display: block;
  margin: auto;
}

.buttonText {
  text-align: center;
  font-size: 30px;
  max-height: 30px;
}
.load {
  justify-content: center;
}
.logotwitter {
  width: 60px;
}
