body {
  width: 100wh;
  height: 100%;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 800%;
  background-attachment: fixed;
  -webkit-animation: Gradient 60s ease infinite;
  -moz-animation: Gradient 60s ease infinite;
  animation: Gradient 60s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-primary {
  background-color: rgba(41, 41, 53, 0.4) !important;
  border: 2px solid white !important;
}

.btn-primary:hover {
  background-color: rgba(41, 41, 53, 0) !important;
  border: 2px solid white !important;
}
